@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&family=Satisfy&display=swap');

:root {
    --brand: #029791; 
    --dark: #17273d;
    --body: #e7e7e7;
    --border: rgba(0,0,0,0.08);
    --accent1: #b7ada1;
    --accent2: #3d5872;
    --accent3: #51aeb0;


}


*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	//outline: 1px solid black;
}


body {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: #516171;
    background-color: var(--body);
}

h1,
h2,
h3, 
h4,
h5,
h6, .display-1, .display-2, .display-3, .display-4 {
     font-weight: 700 !important;
     color: #092032;
}

a {
    color: #092032;
    transition: all 0.4s ease;   
}


img {
    width: 100%;
}

section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}


/* Navbar */
.top-nav {
    background-color: var(--brand);
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.social-icons a {
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgba(255,255, 255, 0.3);
    text-decoration: none;
    font-size: 1.4rem;
}

.social-icons a:hover {
    background-color: #ffffff;
    color: var(--brand) !important;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .active {
    color: var(--brand);
}

.navbar-brand {
    color: #092032;
}

.navbar-brand span {
    color: var(--brand);
}

/* BTN */
.btn {
    padding: .9rem 2.4rem;
}


.btn-brand {
    background-color: var(--brand);
    color: #ffffff;
    border-color: var(--brand);
}

.btn-brand:hover {
    background-color: #fff;
    border-color: var(--brand);
    color: var(--brand);
}

/* Slider */

.slide1 {
    /* Put an overlay */
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.6)), url('../img/bg_banner1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.slide2 {
    /* Put an overlay */
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.6)), url(../img/bg_banner3.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;

    @media screen and (min-width: 768px) {
        background-position: center right;
    }
    
}



/* Owl Carousel */
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 6rem !important;
    height: 6rem !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-top: -3rem !important;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10rem !important;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-next:hover, 
.owl-prev:hover {
    background-color: var(--brand) !important;
}

.owl-dot {
    color: var(--brand);
}

/* About */

/* Milestones */
 #milestones {
    background: linear-gradient(rgba(81, 174, 176, 0.85), rgba(81, 174, 176, 0.85)), url(../img/bg_banner2.jpg);
    background-size: cover;
    background-position: center 25%;
    background-repeat: no-repeat;
 }


 .service {
    padding: 3.2rem;
    background-color: #ffffff;
 }
 .services-title,
 .projects-title,
 .team-title,
 .blog-title {
    color: var(--brand);
 }

 
 .service h5 {
    margin-top: 2.4rem;
    margin-bottom: 1.4rem;
 }

 /* Projects */
 .project {
    z-index: 2;
 }

 .project h6:before {
    content: "";
    height: .2rem;
    width: 3rem;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 1rem;
 }

 .project .overlay {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(100deg, rgba(2, 151, 146, 0) 0%, var(--dark) 100%);
 }

 .project .content {
    left: 10%;
    bottom: 10%;
 }

 /* Team */
 .team-member .image {
    z-index: 2;
 }

 .team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(2, 151, 146, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
 }

 .team-member h5 {
    margin-top: 1.6rem;
    margin-bottom: .4rem;
 }

 .team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
 }

 .team-member .social-icons a {
    width: 4rem;
    height: 4rem;
    background-color: white;
    text-decoration: none;
    font-size: 2.4rem;
    border-radius: 100%;

 }

 .team-member .social-icons i {
    color: #51aeb0 !important;
 }

 .team-member .social-icons .bxl-facebook {
    color: white;
 }

 .team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
 }

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

 /* Reviews */
 #reviews {
    background: linear-gradient(-90deg, rgba(23, 39, 61, 0.8), rgba(23, 39, 61, 0.8)), url(../img/bg_banner2.jpg), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .review {
    z-index: 2;
    margin: 1.5rem;
    max-width: 76.8rem;
    margin: auto;
 }

 .review small,
 .review .bxs-star,
 .review .bxs-star-half {
    color: var(--brand);
 }

 .review .bxs-quote-alt-left {
    font-size: 12rem;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
 }

 .review img {
    width: 8rem !important;
    height: 8rem; 
    border-radius: 10rem;
    margin: auto;
 }

 .review h5 {
    margin-top: 1.6rem;
    margin-bottom: .4rem;
 }

 .review h3 {
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
    font-size: 2.2rem;
    line-height: 1.7;
 }

 /* Blog Posts*/
 .blog-post {
    background-color: #ffffff;
 }

 .blog-post .content {
    padding: 3.2rem;
 }

 .blog-post a {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: var(--brand);
    padding: .2rem 1.2rem;
    border-radius: 10rem;  
 }

 .blog-post h5 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
 }

 .blog-post small {
    color: var(--brand);
 }

 /* Footer */
 footer {
    background: linear-gradient(0deg,rgba(23, 39, 61, 0.9), rgba(23, 39, 61, 0.9)), url(../img/bg_banner1.jpg), #082032;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
 }

 footer .footer-top {
    padding-top: 8rem;
    padding-bottom: 4rem;
 }

 .footer-bottom {
    border-top: .1rem solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2rem;
    padding-top: 2rem;
 }

 footer p {
    color: var(--accent1);
 }

 footer .social-icons a {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin-left: .4rem;
    margin-right: .4rem;
    border-radius: 10rem;
    background-color: rgba(255,255, 255, 0.3);
    
    
 }

 footer .social-icons a:hover {
    background-color: #ffffff !important;
}

footer .social-icons i:hover {
    color: var(--brand) !important;
}

/* Contact Modal */

.contact-image {
   background-image: url(../img/contact2.jpg);
   background-size: cover;
   background-position: center 50%;
   background-repeat: no-repeat;
   min-height: 30rem;
}

.form-control:focus {
   box-shadow: none;
   border-color: var(--brand);
}

