@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&family=Satisfy&display=swap');

:root {
    --brand: #029791; 
    --dark: #17273d;
    --body: #e7e7e7;
    --border: rgba(0,0,0,0.08);
}


*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 1px solid black;
}


body {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color: #516171;
    background-color: var(--body);
}

h1,
h2,
h3, 
h4,
h5,
h6 {
     font-weight: 700 !important;
     color: #092032;
}

a {
    color: #092032;
    transition: all 0.4s ease;   
}


img {
    width: 100%;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;

}

/* Navbar */
.top-nav {
    background-color: var(--brand);
}

.top-nav i,
.top-nav span {
    vertical-align: middle;
}

.social-links a {
    width: 2.4rem;
    height: 2.4rem;
    background-color: rgba(255,255, 255, 0.3);
    text-decoration: none;
    font-size: 1.4rem;
}

.social-links a:hover {
    background-color: #ffffff;
    color: var(--brand) !important;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .active {
    color: var(--brand);
}

.navbar-brand {
    color: #092032;
}

.navbar-brand span {
    color: var(--brand);
}

/* BTN */
.btn {
    padding: .9rem 2.4rem;
}


.btn-brand {
    background-color: var(--brand);
    color: #ffffff;
    border-color: var(--brand);
}

.btn-brand:hover {
    background-color: #fff;
    border-color: var(--brand);
    color: var(--brand);
}

/* Slider */
.slide1 {
    background-image: url(../img/bg_banner1.jpg);

}